/*======= Color Reference
 purple #3c2841


=======*/

/*GLOBAL STYLES*/
h3 {
  font-family: 'Source Serif Pro', serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  color: #3c2841;
}

@font-face {
    font-family: CursiveScript;
    src: url(../assets/fonts/CursiveScript.ttf);
}

/*NAVIGATION STYLES*/
.navbar{
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  border-top: 20px solid #3c2841;
  padding: 15px 80px 15px 80px;
  }

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.navbar-toggle {
    z-index:1;
}
.nav li {
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
}
/*END NAV STYLES*/

/*HERO SECTION*/
#hero {
	background: url('../img/hero-bg.png') 50% 0 repeat fixed;
	min-height: 500px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.half-width{
  height: 500px;
}


#testimonial {
  background: #f5f5f5;
  height: 500px;
}



/*REGISTER BANNER*/
.register{
  background: url('../img/register-bg.png');
  height: 300px;
  text-align: center;
  vertical-align: middle;
}

.btn {
  font-family: CursiveScript;
  text-transform: lowercase;
  font-size: 36px;
  background: #3c2841;
  border: none;
}

.btn:hover{
  background: #563c5d;
}

/*END REGISTER BANNER*/

/*FOOTER STYLES*/
footer{
  background: #3c2841;
  height: 200px;
}
