/*======= Color Reference
 purple #3c2841
 hover purple #563c5d


=======*/

/*=========GLOBAL STYLES=========*/
@font-face {
    font-family: CursiveScript;
    src: url(../fonts/CursiveScript.ttf);
}

h3 {
  font-family: 'Source Serif Pro', serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  color: #3c2841;
}


p {
  font-size: 16px;
  line-height: 30px;
}


/*=========NAVIGATION STYLES=========*/
.navbar{
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  border-top: 20px solid #3c2841;
  padding: 15px 80px 15px 80px;
  }

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.navbar-toggle {
    z-index:1;
}
.nav li {
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
}

nav li a{
  text-align: center;
}

nav li a.active{
  text-decoration: underline;
  font-weight: 600;
}

.active-link{
  width: 50px;
  height: 5px;
  background: #3c2841;
  margin-left: 14px;
  display: none;
}

/*END NAV STYLES*/

/*=========HOMEPAGE=========*/
/*homepage hero styles*/

#hero {
	background: url('../img/hero-bg.png') 50% 0 repeat fixed;
	min-height: 500px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero article{
  margin: auto;
  padding: 15% 15% 5% 15%;
  text-align: center;
  overflow: visible;
}

#hero article h1, h2{
  font-weight: bold;
  font-family: 'Source Serif Pro', sans-serif;
}

#hero article h2{
  color: #3c2841;
}
/*end hero styles*/


/*mission adn testimonial styles*/

.half-width{
  min-height: 500px;
  overflow: hidden;

}

.half-width #testimonial {
  background: #f5f5f5;
  margin: auto;
  padding: 8%;
  min-height: 500px;
  text-align: center;
}

#testimonial h3{
  font-family: 'Source Serif Pro', serif;
  font-size: 22px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  line-height: 48px;
  color: #563c5d;
}

#testimonial p{
  font-size: 14px;
  font-style: italic;
}

.half-width #mission {
  margin: auto;
  padding: 8%;
  max-height: 500px;
}

#mission a {
  font-family: CursiveScript, cursive;
  color: #3c2841;
  font-size: 40px;
  text-decoration: none;
}

#mission a:hover{
  color: #563c5d;
}
/*END MISSION & TESTIMONIAL STYLES*/



/*=========ABOUT US PAGE=========*/

/*ABOUT HERO SECTION*/

#about-hero {
	background: url('../img/hero-about.png') 50% 0 repeat fixed;
	position: relative;
	display: table;
	width: 100%;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#about-hero article{
  background: rgba(245, 245, 245, 0.5);
  margin-top: 10%;
  margin-bottom: 2%;
  padding: 25px;
  text-align: center;
  width: 50%;
}

#about-hero article h1{
  font-weight: bold;
  font-family: 'Source Serif Pro', sans-serif;
  color: #3c2841;
}

#about-hero p{
  color: #3c2841;
}

#about-us{
  height: auto;
  overflow: hidden;
  background: white;

}

#about-us, #beliefs .about-content{
  padding: 5%;
  margin-bottom: 2%;
}

#about-callout{
  background: #3c2841;
  height: auto;
  margin-top: 8%;
}

#about-callout p{
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 300;

}

img#founders{
  width: 100%;
  border-radius: 1%;
  padding-top: 25px;
}

/*beliefs section*/

#beliefs{
  min-height: 500px;
  overflow: hidden;
  background: #f5f5f5;
}

#beliefs ul{
  padding: 0 5% 0 5%;
  width: 90%;
}

#beliefs ul li{
  padding-bottom: 25px;
  font-size: 16px;
}

/*=========END ABOUT PAGE=========*/


/*=========EVENTS PAGE=========*/
#events-hero {
	width: 100%;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
  color: black;
}
#events-hero article{
  margin-top: 10%;
  margin-bottom: 2%;
  padding: 25px;
  text-align: center;
  width: 60%;
}

#events .container{
  background: #f5f5f5;
  margin-bottom: 50px;
}

#events ul{
  list-style: none;
  padding: 5% 8% 5% 8%;
}

#events-hero article h1{
  font-weight: bold;
  font-family: 'Source Serif Pro', sans-serif;
  color: #3c2841;
}
/*=========END EVENTS PAGE=========*/

/*=========CONTACT PAGE=========*/

#contact-hero {
	width: 100%;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
  color: black;
}
#contact-hero article{
  margin-top: 10%;
  margin-bottom: 2%;
  padding: 25px;
  text-align: center;
  width: 60%;
}

#contact-hero article h1{
  font-weight: bold;
  font-family: 'Source Serif Pro', sans-serif;
  color: #3c2841;
}

#contact-form .container{
  margin-bottom: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

#contact-form .form-control{
  border-radius: 0;
}

#contact-form .btn {
  background: #3c2841;
  border: none;
  font-family: CursiveScript;
  font-size: 30px;
  width: 100%;
}

#contact-form .btn:hover{
  background: #563c5d;
}


textarea[type="textarea"]:focus, input[type="text"]:focus, input[type="email"]:focus{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(86, 60, 93, 0.6);
  outline: 0 none;
  border-color: #3c2841;
}
/*=========END CONTACT PAGE=========*/


/*=========RESOURCES & SINGLE POST=========*/
#sidebar{
  margin-bottom: 50px;
  position: sticky;
}
#resources, #single-post{
  margin-top: 10%;
}

#resources #posts{
  margin-bottom: 50px;
  padding-right: 70px;
}

#resources .card-title{
  font-family: 'Source Serif Pro', serif;
  color: #3c2841;
  font-size: 24px;
}

#resources a.read-more{
  font-family: CursiveScript;
  text-transform: lowercase;
  font-size: 36px;
  color: #3c2841;
  border: none;
  width: 200px;
  font-weight: normal;
  text-decoration: none;
}

#resources a{
  color: #3c2841;
}

#resources a.read-more:hover{
  color: #563c5d;
}

#resources h5{
  font-family: 'Source Serif Pro', serif;
  text-transform: uppercase;
  font-weight: bold;
}

#resources .card-img-top{
  width: 100%;
}

#single-post a{
  color: #3c2841;
}

#single-post h5{
  font-family: 'Source Serif Pro', serif;
  text-transform: uppercase;
  font-weight: bold;
}

#single-post .card-img-top{
  width: 100%;
}

#single-post #single-post-content{
  padding-right: 70px;
  margin-bottom: 50px;
}

#single-post .btn {
  background: #3c2841;
  border: none;
}

#single-post .btn:hover{
  background: #563c5d;
}

#single-post h1.post-title{
  font-family: 'Source Serif Pro', serif;
}
/*=========END RESOURCES & SINGLE POST=========*/



/*=========REGISTER BANNER=========*/
.register{
  background: url('../img/register-bg.png');
  max-height: 300px;
  text-align: center;
  margin: auto;
  padding: 60px 30px 60px 30px;
}

.register .btn {
  font-family: CursiveScript;
  text-transform: lowercase;
  font-size: 36px;
  background: #3c2841;
  border: none;
  width: 200px;
  font-weight: normal;
}

.register .btn:hover{
  background: #563c5d;
}

/*=========END REGISTER BANNER=========*/


/*=========FOOTER STYLES=========*/
footer{
  background: #3c2841;
  min-height: 200px;
  color: #f5f5f5;
  margin: auto;
  padding: 50px 0 50px 0;
  text-align: left;
}
footer p{
  font-size: 12px;
}

footer .form-group{
  width: 200px;
  display: inline-block;
  font-size: 16px;
}

footer .btn {
  background: #563c5d;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  height: auto;
}

footer form label{
  display: none;
}

footer #footer-signup{
  text-align: right;
}

/*=========END FOOTER STYLES=========*/


/*=========MEDIA QUERIES==========*/

@media only screen and (max-width: 500px) {
/*NAVBAR*/
  .navbar-brand{
    text-align: left;
  }

  .navbar-toggle{
    margin-right: -25px;
  }

/*HEROES*/
  #hero article{
    padding-top: 35%;
  }

  #about-hero article{
    background: rgba(245, 245, 245, 0.5);
    margin-top: 30%;
    margin-bottom: 5%;
    padding: 25px 25px 15px 25px;
    text-align: center;
    width: 90%;
  }

  #events-hero article{
    margin-top: 30%;
    margin-bottom: 5%;
    padding: 25px 25px 15px 25px;
    text-align: center;
    width: 90%;
  }

  #contact-hero article{
    margin-top: 30%;
    margin-bottom: 5%;
    padding: 25px 25px 15px 25px;
    text-align: center;
    width: 90%;
  }

/*EVENTS*/
  #events .container{
    background: #f5f5f5;
    margin-bottom: 0px;
  }

/*RESOURCES & SINGLE POST*/
  #resources, #single-post{
    margin-top: 12%;
  }

  #resources #posts .card{
    padding: 0;
  }

  #single-post  #single-post-content{
    padding: 0 15px 0 15px;
  }
/*CONTACT*/

#contact-form .container{
  padding: 0;
}
/*FOOTER*/
  footer #footer-signup, #footer-contact{
    text-align: center;
  }

  footer #footer-contact{
    margin-bottom: 25px;
  }
